header {
    padding-top: 0.5px;
    background-color: aqua;
    }

header h1 {
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
    }

.section div a {
    text-decoration: none;
    }

.section nav ul a {
    text-decoration: none;
    list-style: none;
    }